{% extends "accounts/registration_base.html" %}
{% block title %}Activation email{% endblock %}
{% block content %}
    <p>
    You (or someone pretending to be you) have asked to register an account at
    {{ site.name }}.  If this wasn't you, please ignore this email
    and your address will be removed from our records.
    </p>
    <p>
    To activate this account, please click the following link within the next
    {{ expiration_days }} days:
    </p>
    <p>
    http://{{site.domain}}{% url 'registration_activate' activation_key %}
    </p>
    <p>
    Sincerely,<br>
    {{ site.name }} Management
    </p>
{% endblock %}
